html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: rgb(245, 245, 245);
  }
  
  body {
    font-weight: 400;
    margin: 0 20px;
  }
  
  h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
  }
  
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  h2,
  p,
  a {
    font-size: small;
    font-weight: 400;
  }
  
  p,
  img {
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 0.5px;
  }
  
  h2 {
    margin-top: 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .card {
    border: 1px solid silver;
    border-radius: 5px;
  }
  
  /* .highlight, */
  #lastModified {
    color: yellow;
  }
  
  #copyright-info,
  #lastModified {
    margin: 0 0 0 0;
  }
  
  #copyright-info {
    padding-top: 10px;
  }
  
  #lastModified {
    padding-bottom: 10px;
  }
  
  h1,
  h2,
  footer,
  span {
    background-color: rgb(23, 77, 115);
    color: white;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: rgb(51, 51, 51);
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: 300;
  }
  
  nav a:hover {
    background-color: rgb(23, 77, 115);
    font-weight: 500;
    padding: 5px 5px 5px 5px;
    font-size: large;
  }
  
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-me-person,
  .about-me-country,
  .state-country,
  .resource-flex {
    display: flex;
  }
  
  .state-country p {
    text-align: center;
    border-bottom: 2px solid silver;
    width: 70%;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .state-country {
    justify-content: center;
  }
  
  .resource-flex {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .resource-flex ul {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-inline-end: 40px;
  }