body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#review-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

#rating {
    display: flex;
}

#features {
    padding-bottom: 10px;
}

#design, #performance, #easeofuse, #durability{
    position: relative;
    top: 30px;
}

section {
    border: none;
}

header, h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    background-color: lightslategray;
    padding-bottom: 1px;
    padding-top: 1px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: lightslategray;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    width: 600px;
    font-size: large;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#rating input {
    display: none;
}

#rating label {
    font-size: 2em;
    cursor: pointer;
}

#rating input:checked ~ label {
    color: gold;
}

#rating label:hover,
#rating label:hover ~ label {
    color: gold;
}

footer {
    text-align: center;
    background-color: lightslategray;
    padding: 1rem 1rem 1rem
}