header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #281a54;
    color: white;
    padding: 10px;
    width: auto;
}

header h1 {
    margin: 0;
}

.label {
    position: absolute;
    top: 30px;
    left: 1px;
    right: 1px;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
}

nav h3 {
    display: flex;
    gap: 10px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.label {
    text-align: center;
    margin: 20px 0;
}

.temple {
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
    background-color: lightsteelblue;
}

.temple img {
    max-width: 100%;
    height: auto;
}

#showTemples {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
    gap: 100px;
    position: relative;
    top: 40px;
    padding-right: 80px;
}

figure,
img {
    display: block;
    max-height: 250px;
    max-width: 250px;
    margin: 20px auto;
    justify-content: center;
}

figcaption {
    font-style: normal;
    text-align: center;
}

footer {
    position: relative;
    top: 40px;
    padding: 10px;
    text-align: center;
    background-color: #281a54;
    color: white;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav h3 {
        flex-direction: column;
        display: none;
    }

    nav.active h3 {
        display: flex;
    }
}
