:root {
    margin: 0;
    padding: 0;
    --primary-color: white;
    --body-fonts: "Helvetica", "Arial", sans-serif;
    --line-height: 1.5;
  }

  .weathericon::after {
    content: src="images/sun.svg";
  }

head {
    padding: 0px 10px 0px 0px;
    display: grid;
    background-color: white;
}

header {
    text-align: center;
    display: grid;
    background-color: crimson;
}

.heroimg {
        width: 100%;
        height: auto;
}

.spacer {
    height: 5px;
    margin-top: -5px;
}

picture {
    width: 50px;
    height: 50px;
}

.info {
    display: block;
}

.weather {
    display: block;
    text-align: right;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: crimson;
}