header {
    display: flex;
    justify-content: space-between;
    background-color: #281a54;
    color: white;
    width: 100%;
    padding: 5px;
}

h2 {
    justify-content: center;
    margin-bottom: 20px;
    display: grid;
}

h3 {
    text-align: right;
    float: right;
}

nav a{
    margin: 0;
    text-align: right;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

h1{
    text-align: left;
    float: left;
}



.label {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    
}

.templeimgs {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 100px;
}

figure,
img {
    display: grid;
    max-height: 250px;
    max-width: 250px;
    margin: 20px 20px 20px 20px;
    justify-content: space-around;
}

figcaption { 
    font-style: normal;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #281a54;
    color: white;
}