body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    text-align: center;
    background-color: #281a54;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

nav .img {
    width: 50px;
    height: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #57c9f6;
}

main {
    padding: 20px;
}

figure,
img {
    display: grid;
    max-height: 250px;
    max-width: 250px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: auto;
}

figcaption {
    font-style: italic;
}

footer {
    padding: 4rem 1rem 1rem 1rem;
    text-align: center;
    background-color: #281a54;
    color: white;
}