header {
    display: grid;
    padding: 20px;
    text-align: center;
    background-color: #281a54;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 20px;
}


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

figure,
img {
    display: grid;
    max-height: 250px;
    max-width: 250px;
    margin: 20px 20px 20px 20px;
    padding: auto;
}

figcaption { 
    font-style: normal;
    text-align: center;
}

footer {
    padding: 4rem 1rem 1rem 1rem;
    text-align: center;
    background-color: #281a54;
    color: white;
}