header {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

figure {
    margin: 0;
}

figcaption {
    font-style: normal;
    text-align: center;
}